@use "../../scss/functions" as *;

//main
.main {
	//search block
	.search__block {
		display: flex;
		position: relative;
		padding: 0 15px;
		border: 1px solid #f3f3f3;
		border-radius: 10px;

		//remove btn
		.btn-remove {
			width: 18px;
			height: 18px;
			position: absolute;
			right: 15px;
			top: 14px;
			cursor: pointer;
		}

		input {
			max-width: 200px;
			padding: 13px;
			font-size: rem(16);
			font-family: "Inter", sans-serif;
			border: none;
			outline: none;
		}
	}
}
